$common-color: gold;

.cart-container {
       
    background-repeat: no-repeat;
    width: 300px;  
    height: 500px; 
    background-size: cover;
    background-position: center;
    background-color: #352f50; 
    background-blend-mode: multiply;
    color: white;
    padding: 50px;

    h1,h6 {
        color: $common-color
    }

    h1,h3,h6 {
        font-family: 'Oswald';
        text-align: center;
        text-transform: uppercase;
    }
    ul {
        margin-top: 20px
    }
   
    li {
        list-style-type: none;       
        margin-bottom: 20px;
        margin-left: -20px
    }

    button {
        background-color: gold;
        width: 200px;
        border: none;
        color: black;
        font-family: 'Oswald';
        margin-top: 20px
    }
}