.service-item {
    width: 350px;
    height: 400px;   
    margin: 50px;   
    text-align: center;
    color: white;
    
    img {
       height: 70px;
        
    }

    img,h1,p {
        margin-top: 70px;       
    }

    p{
        padding-bottom: 10px;
        width: 300px;
        margin-left: 20px;
        margin-top: 10px;
    }

   
    
}