.element {
    width: 400px;
    height: 420px;    
    padding: 20px;
    text-align: center;   
    box-shadow: 7px 7px 5px 0px rgba(178, 178, 178, 0.74);
    border-radius: 10px;
    background-color: #f4f4f4;

    .element-body{
        margin-top: 60px;
        h5{
            text-transform: uppercase;
            padding: 50px 0px 10px 0px;
            
        }
    }   
}

.element:hover {
    cursor: pointer;
    border: 2px solid coral;
}